<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verbaflo LinkedIn PDF to HTML Resume Converter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Verbaflo LinkedIn PDF to HTML Resume Converter</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="style">Choose a resume style:</label>
        <select name="style" id="style">
            <option value="basic">Basic Resume Template</option>
            <option value="college">College Resume Template</option>
            <option value="modern">Modern Resume Template</option>
            <option value="overleaf">Overleaf Resume Template</option>
        </select>
        <br>
        <input type="file" name="file" accept=".pdf">
        <br>
        <input type="submit" value="Upload and Convert">
    </form>
</body>
</html>
